<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuyh.sprintnba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.yuyh.sprintnba.app.SprintNBA"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yuyh.sprintnba.ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuyh.sprintnba.ui.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.yuyh.sprintnba.base.BaseWebActivity" />
        <activity
            android:name="com.yuyh.sprintnba.ui.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.TeamsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.PlayerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.ThreadDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.ThreadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yuyh.sprintnba.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yuyh.sprintnba.ui.MatchDetailActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
